
.App {
  background-color: #c2cbe5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  
}

h3 {
  color: #eaf0f1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  font-style: oblique;

}

h3{
  font-size: 20;
  color-scheme: pink;
}
p{
  font-size: 14;
  color-scheme: pink;
}
